@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/variable/pretendardvariable.css");
@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, "Apple SD Gothic Neo", "Noto Sans KR", Arial, sans-serif;
}

/* ===== MateProfile 사다리꼴 탭 ===== */
.profile-tab-wrap {
  width: fit-content;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
}

.profile-tab {
  width: 265px;
  height: 64px;
  background: #d6e1e3;
  transform: skew(20deg) translateX(-18px);
  border-radius: 4px 6px 0 0;
  display: flex;
  align-items: center;
}

.profile-tab-text {
  transform: skew(-20deg);
  padding-left: 96px;
  font-size: 24px;
  color: #495456;
  font-weight: 800;
  margin-top: 4px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.mc-input {
  padding: 12px;
  border: 2px solid #e1edf0;
  border-radius: 4px;
  font-size: 14px;
  color: #495456;
  height: 45px;
}
.mc-input:focus {
  outline: none;
  border-color: #00c3cc;
}
.mc-input::placeholder {
  color: #cedbde;
}
